
      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">About</h4>
          {% for ab in about %}
          {{ab.title}}
          {% endfor %}
        </p>
        <p class="mb-0">
          {% for ab in about %}
          {{ab.description}}
          {% endfor %}
        </p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Follow Me</h4>
        <ol class="list-unstyled">
          {% for link in links %}
          <li><a href="{{link.link}}" target="_blank">{{link.name}}</a></li>
          {% endfor %}
        </ol>
        </div>
      </aside><!-- /.blog-sidebar -->