{% extends 'header.html' %}
{% load static %}
{% block content %}

<a href="{% url 'blog' random_blog.slug %}" style="text-decoration: none;">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{random_blog.featured_image.url}});background-blend-mode: overlay;background-size: 100% 100%;">
  <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">{{random_blog.title}}</h1>
      <p>{{random_blog.short_description|truncatewords:20}}</p>
  </div>
</div>
</a>

<div class="row mb-2">
    {% for blog in blogs %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <a href="{% url 'blog' blog.slug %}" class="text-dark font-weight-bold" style="text-decoration: double;"><h3>{{blog.title}}</h3></a>
          <small class="mb-1 text-muted">{{blog.created_at|timesince}}</small>
          <p class="card-text">{{blog.short_description|truncatechars:200}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">Sample blog post</h2>
          <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

          <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
         
          <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         
          
        </div>
        <!-- /.blog-post -->

      </div>
      <!-- /.blog-main -->

      {% include 'about.html' %}

    </div><!-- /.row -->

  </main><!-- /.container -->
{% endblock %}