{% extends 'header.html' %} {% load static %} {% block content %}
<style>
  .image {
    height: auto;
    width: auto;
    overflow: hidden;
    margin: 20px 0 20px 0;
  }

  img {
    width: 100%;
    display: block;
  }
</style>
<a class="badge bg-primary text-decoration-none text-light" href="{% url 'posts_by_category' category.id %}">{{category.name}}</a>
<main role="main" class="container p-0">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">{{blog.title}}</h2>
        <p class="blog-post-meta">{{blog.created_at|timesince}}</p>
        <p>{{blog.short_description}}</p>
        <div class="image">
          <img
            class="img-fluid rounded"
            src="{{blog.featured_image.url}}"
            alt=""
          />
        </div>
        {% if blog.words %}
        <blockquote style="border-left: 2px solid rgb(89, 165, 189); padding-left: 15px; background-color: aliceblue; border-radius: 5px; padding: 10px">
          {{blog.words}}
        </blockquote>
        {% endif %}
        {% for par in paragraph %}
        <p>{{par}}</p>
        {% endfor %}
      </div>
      <!-- /.blog-post -->
      <style>
       .link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }
      </style>
      <section style="background-color: #e7effd;" class=" mb-2 border">
          <h2 class="pt-4 pl-2">Comments</h2>
        <p class="pl-2 small">
          Total: {{count}} comments
        </p>
          <div class="row d-block justify-content-center p-4">
            {% for comment in comments %}
                <div class="d-flex flex-start my-2">
                  <div class="card" style="width: 100%;">
                    <div class="card-body p-4">
                      <div class="">
                        <h5>{{comment.user}}</h5>
                        <p class="small">{{comment.created_at|timesince}}</p>
                        <p>
                          {{comment.text}}
                        </p>
        
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>&nbsp;
                            <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                          </div>
                          <div class="d-block align-items-center">
                            <a href="{% url 'delete_comment' comment.id %}" class="link-muted"><i class="fa-solid fa-trash-can ml-auto"></i> Delete</a>
                            <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}              
              </div>
      </section>
      {% if user.is_authenticated %}
      <div class="comment-section mb-5 pb-2 p-0 ">
        <label for="comment-text" class="form-label pl-2">Leave Comment</label>
          <form action="" method="post">
           {% csrf_token %}
            <div class="mb-3 form-group">
              <textarea class="form-control" name="comment" placeholder="Leave comment..." id="comment-text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add comment</button>
          </form>
      </div>
      {% else %}
      <div class="comment-section my-5 p-0 col-8">You need to <a href="{% url 'login' %}">login</a> in order to leave comment</div>
      {% endif %}
    </div>
    <!-- /.blog-main -->
    
    {% include 'about.html' %}
    <!-- /.blog-sidebar -->
    
  </div>
  <!-- /.row -->
  <!-- Comment -->
  <!-- End Comment -->
</main>


<!-- /.container -->
{% endblock %}
