{% extends 'header.html' %}
{% load static %}
{% block content %}
{% if result %}
  <main role="main" class="container p-0" style="text-decoration: none;">

    <div class="row">
      <div class="col-md-8 blog-main">
        {% for cat in result %}
        <a href="{% url 'posts_by_category' cat.category.id %}" style="text-decoration: none;" class="badge bg-primary text-light">{{cat.category}}</a>
        <div class="blog-post" style="text-decoration: none;">
          <a href="{% url 'blog' cat.slug %}" style="text-decoration: none;"> 
          <h2 class="blog-post-title" style="text-decoration: none; color: rgb(0, 0, 0)">{{cat.title}}</h2>
          <p class="blog-post-meta" style="text-decoration: none;">{{cat.created_at|timesince}} by <a href="#" style="text-decoration: none;">{{cat.author}}</a></p>

          <p><a href="{% url 'blog' cat.slug %}" style="text-decoration: none; color: black">{{cat.short_description}}</a></p>            
          </a>

          
        </div>
        <!-- /.blog-post -->

        {% endfor %}
      </div>

      <!-- /.blog-main -->

      {% include 'about.html' %}

    </div><!-- /.row -->

  </main><!-- /.container -->
  {% else %}
  <h4 style="padding: 10px 0 10px">No contents found</h4>
  {% endif %}
  <p><b>The number of blogs: {{num}}</b></p>
{% endblock %}