{% extends 'header.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col-3">
      {% include 'left_side.html' %}
    </div>
</div>


<div class="row my-3">
  <!-- Left side -->
  <!-- Right side -->
  <div class="col-12">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header text-center font-weight-bold">
            Kategoriyalar
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">{{categories.count}}</li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header text-center font-weight-bold">Bloglar</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">{{blog_count}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
